body {
  background-color: rgb(156, 152, 152);
}

.snowflake {
  color: #fff;
  font-size: 1em;
  font-family: Arial, sans-serif;
  text-shadow: 0 0 5px #000;
}
 
.snowflake,.snowflake .inner{animation-iteration-count:infinite;animation-play-state:running}@keyframes snowflakes-fall{0%{transform:translateY(0)}100%{transform:translateY(110vh)}}@keyframes snowflakes-shake{0%,100%{transform:translateX(0)}50%{transform:translateX(80px)}}.snowflake{position:fixed;top:-10%;z-index:9999;-webkit-user-select:none;user-select:none;cursor:default;animation-name:snowflakes-shake;animation-duration:3s;animation-timing-function:ease-in-out}.snowflake .inner{animation-duration:10s;animation-name:snowflakes-fall;animation-timing-function:linear}.snowflake:nth-of-type(0){left:1%;animation-delay:0s}.snowflake:nth-of-type(0) .inner{animation-delay:0s}.snowflake:first-of-type{left:10%;animation-delay:1s}.snowflake:first-of-type .inner,.snowflake:nth-of-type(8) .inner{animation-delay:1s}.snowflake:nth-of-type(2){left:20%;animation-delay:.5s}.snowflake:nth-of-type(2) .inner,.snowflake:nth-of-type(6) .inner{animation-delay:6s}.snowflake:nth-of-type(3){left:30%;animation-delay:2s}.snowflake:nth-of-type(11) .inner,.snowflake:nth-of-type(3) .inner{animation-delay:4s}.snowflake:nth-of-type(4){left:40%;animation-delay:2s}.snowflake:nth-of-type(10) .inner,.snowflake:nth-of-type(4) .inner{animation-delay:2s}.snowflake:nth-of-type(5){left:50%;animation-delay:3s}.snowflake:nth-of-type(5) .inner{animation-delay:8s}.snowflake:nth-of-type(6){left:60%;animation-delay:2s}.snowflake:nth-of-type(7){left:70%;animation-delay:1s}.snowflake:nth-of-type(7) .inner{animation-delay:2.5s}.snowflake:nth-of-type(8){left:80%;animation-delay:0s}.snowflake:nth-of-type(9){left:90%;animation-delay:1.5s}.snowflake:nth-of-type(9) .inner{animation-delay:3s}.snowflake:nth-of-type(10){left:25%;animation-delay:0s}.snowflake:nth-of-type(11){left:65%;animation-delay:2.5s}


#Christmas_Lights {
    height: 100%;
    margin: 0;
    top: 0;
    position: absolute;
    width: 100%;
    z-index: 1000
  }
  
  .light_cord {
    fill: none;
    stroke: #174700;
  }
  
  .light_fixture {
    fill: #134413;
  }
  
  .red_bulb {
    fill: #CA2128;
    stroke: #6D6D6D;
    stroke-miterlimit: 10;
  }
  
  .green_bulb {
    fill: #2D754A;
    stroke: #6D6D6D;
    stroke-miterlimit: 10;
  }
  
  .blue_bulb {
    fill: #2C3EA8;
    stroke: #6D6D6D;
    stroke-miterlimit: 10;
  }
  
  .white_bulb {
    fill: #F5EED7;
    stroke: #6D6D6D;
    stroke-miterlimit: 10;
  }
  
  .gold_bulb {
    fill: #ffcc5e;
    stroke: #6D6D6D;
    stroke-miterlimit: 10;
  }
  
  
  /* Simply changing the opacity of the SVG fill to create the glow effect for the bulbs */
  
  .bulb {
    -webkit-animation-duration: 0.5s;
    -webkit-animation-name: glow;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease-in-out;
    -webkit-animation-direction: alternate;
    animation-name: glow;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-direction: alternate;
  }
  
  @-webkit-keyframes glow {
    0% {
      fill-opacity: 0.25;
    }
    100% {
      fill-opacity: 1
    }
  }
  
  @keyframes glow {
    0% {
      fill-opacity: 0.25;
    }
    100% {
      fill-opacity: 1.0
    }
  }
  
  
  /* Made a set of ten animation delays to create a more random effect of lights blinking.  Simplest way without jumping through SVG hoops. */
  
  .blink-1 {
    -webkit-animation-delay: 0.6s;
    animation-delay: 0.6s;
  }
  
  .blink-2 {
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
  }
  
  .blink-3 {
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
  }
  
  .blink-4 {
    -webkit-animation-delay: 6s;
    animation-delay: 6s;
  }
  
  .blink-5 {
    -webkit-animation-delay: 2.5s;
    animation-delay: 2.5s;
  }
  
  .blink-6 {
    -webkit-animation-delay: .3s;
    animation-delay: .3s;
  }
  
  .blink-7 {
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
  }
  
  .blink-8 {
    -webkit-animation-delay: .2s;
    animation-delay: .2s;
  }
  
  .blink-9 {
    -webkit-animation-delay: 0.95s;
    animation-delay: 0.95s;
  }
  
  .blink-10 {
    -webkit-animation-delay: 1.2s;
    animation-delay: 1.2s;
  }

.moooosa {
    width: 13rem;
    height: 15rem;
    animation: rotation 5s infinite linear;
    border-radius:100%;
}

.moooosaDiv {
    margin-top: 15rem;
    animation: move 15s infinite linear;
}

@keyframes rotation {
    100%{rotate: 360deg;}
}

@keyframes move {
    0%{transform: translate(-50%, 0);}
    100%{transform: translate(100%, 0);}

}

.grass {
  width: 100rem;
  height: 10rem;
  position: absolute;
  top: 20rem;
  margin: 0;
}

.santa {
  width:20vw;
  min-width:175px;
  z-index: 600;
  cursor: pointer;
  -webkit-animation: FlyingSanta 38s infinite linear;
  -moz-animation: FlyingSanta 38s infinite linear;
  -ms-animation: FlyingSanta 38s infinite linear;
  -o-animation: FlyingSanta 38s infinite linear;
  animation: FlyingSanta 38s infinite linear;
  bottom: 0%;
  left: 0%;
  position: absolute;
}
@keyframes FlyingSanta {
  25% {
    bottom: 80%;
    left: 85%;
    transform: rotateY(0deg);
  }
  26% {
    transform: rotateY(180deg);
  }
  50% {
    bottom: 60%;
    left: 0%;
    transform: rotateY(180deg);
  }
  51% {
    transform: rotateY(0deg);
  }
  75% {
    bottom: 40%;
    left: 85%;
    transform: rotateY(0deg);
  }
  76% {
    bottom: 40%;
    left: 85%;
    transform: rotateY(180deg);
  }
  99% {
    transform: rotateY(180deg);
  }
}

.BoycottC {
  width: 92rem;
  height: 50rem;
  position: absolute;
  top: 30rem;
}

.ChristmasTree {
  width: 20rem;
  height: 20rem;
  position: absolute;
  top: 11rem;
  left: 75rem;
}

/*Dancing Skeleton*/

